[data-amplify-authenticator] {
    min-height: calc(100vh - 343px) !important;
}

[data-amplify-authenticator] .amplify-tabs {
    display: none !important;
}

[data-amplify-authenticator] * .amplify-button--primary {
    background-color: rgb(38, 83, 92);
}

[data-amplify-authenticator] * .amplify-button--primary:hover {
    background-color: rgb(4, 125, 149);
}

/*[data-amplify-authenticator] * .amplify-divider.amplify-divider--horizontal.amplify-divider--small.amplify-divider--label {*/
/*    display: none !important;*/
/*}*/

[data-amplify-authenticator] * .amplify-flex.amplify-field.amplify-textfield {
    display: none;
}

[data-amplify-authenticator] * .amplify-button.amplify-field-group__control.amplify-button--primary.amplify-button--fullwidth {
    display: none;
}

[data-amplify-footer] {
    display: none !important;
}
